* {
    margin: 0;
    padding:0;
}


body {
    background-image: url("./FondoPortafolio.avif");
    background-size: cover;
 
    background-position: center center;
    font-family: Arial, sans-serif;
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 14%;
}


.contenedorSuperior {
    background-color: #fffceb;
    color: rgb(70, 46, 1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedorHijo {
    background-color: #f7f1cf;
    color: rgb(70, 46, 1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 4%;
}



.paginas  {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    margin-top: 20px;
}


.pagina1, .pagina2, .pagina3, .pagina4, .pagina5, .pagina6 {
    width: 90%;
    margin:  20px;
    padding: 20px;
    background-color: #fffade;
    color: rgb(70, 46, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.pagina1 h2, .pagina2 h2, .pagina3 h2, pagina4 h2, .pagina5 h2, .pagina6 h2 {
    text-align: center;
    margin-bottom: px;
}




/**BOTONES**/

#botton1, #botton2, #botton3, #botton4, #botton5, #botton6 {
    background-color: #fffceb;
    color: rgb(139, 98, 20);
    border: 1px solid rgb(65, 27, 1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}




/* Para tablets y pantallas medianas */
@media (max-width: 900px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    .paginas {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

/* Para tablets y pantallas medianas */
@media (max-width: 900px) {
    body {
        margin-left: 22%;
        margin-right: 22%;
        margin-top: 28%;
        gap: 20px;
    }
    .contenedorSuperior, .contenedorHijo {
        padding: 15px;
    }
    .paginas {
        grid-template-columns: 1fr;
        padding: 42px;
        gap: 20px;
    }
    .pagina1, .pagina2, .pagina3, .pagina4 {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 15px;
    }
}
